* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    position: fixed;
    width: 680px;
    height: 330px;
    left: 50%;
    top:50%;
    margin-left: -340px;
    margin-top: -165px;
    /* border: 1px solid black; */
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.border-solid {
    border-style: solid;
    border-width: 10px;
}

#blue {
    border-color: blue;
    position: absolute;
    z-index: 5;
}

#yellow {
    border-color: yellow;
    position: absolute;
    left: 115px;
    top: 110px;
    z-index: 4;
}
 
#black {
    border-color: black;
    top: 0px;
    left: 230px;
    position: absolute;
    z-index: 3;
}

#green {
    border-color: green;
    position: absolute;
    left: 345px;
    top: 110px;
    z-index: 2;
}

#red {
    border-color: red;
    position: absolute;
    top: 0px;
    left: 460px;
}

#red:hover {
    border-color: blueviolet;
    cursor: pointer;
}