/* common css */

.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region topbar start */

.topbar {
    height: 30px;
    font-family: 'PingFangSC-Medium', sans-serif;
    font-weight: 400;
    font-size: 0;
    color: #666;
    background-color: #ECECEC;
    line-height: 30px;
}

.topbar-welcome {
    font-family: 'PingFangSC-Regular', sans-serif;
}

.topbar-item {
    font-size: 12px;
    vertical-align: middle;
}

.login {
    margin-left: 28px;
}

.order {
    margin-left: 336px;
}

.topbar-item-delimiter {
    display: inline-block;
    height: 12px;
    margin: 0 15px;
    border-left: 1px solid #666;
}

.small-margin {
    margin: 0 10px;
}

/* #endregion topbar end */

/* #region header start */

.header {
    height: 120px;
    /* background-color: rgb(205, 216, 198); */
}

.header .search {
    font-size: 0;
    margin-top: 42px;
}

.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
    font-size: 16px;
}

.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url(../images/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* #endregion header end */

/* #region main-nav start */

.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.main-nav .all-product-category {
    width: 190px;
    height: 48px;
    line-height: 48px;
    background-color: #DD302D;
    text-align: center;
    color: #FFFFFF;
}

.main-nav .main-nav-list li {
    float: left;
    margin: 0 10px;
}

.main-nav .main-nav-list {
    color: #333333;
    height: 48px;
    line-height: 48px;
}

/* #endregion main-nav end */

/* #region main-content start */

.main-content {
    margin-top: 10px;
}

.main-content .side-nav {
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
    font: 14px 'PingFangSC-Medium', sans-serif;
    color: #333333;
    position: relative;
}

.main-content .side-nav li {
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}

.main-content .side-nav li:hover {
    background-color: #DD302D;
}

.main-content .side-nav li:hover>a {
    color: #FFFFFF;
}

.main-content .side-nav li:first-child {
    margin-top: 5px;
}

.main-content .second-menu {
    width: 680px;
    height: 458px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 190px;
    display: none;
    padding-left: 20px;
}

.main-content .side-nav li:hover .second-menu {
    display: block;
}

.main-content .side-nav li:hover .second-menu a:hover {
    color: #DD302D;
}

.main-content .side-nav .second-menu dl {
    height: 36px;
    line-height: 36px;
}

.main-content .side-nav .second-menu dl:first-child {
    margin-top: 10px;
}

.main-content .side-nav .second-menu dt {
    float: left;
    width: 70px;
    margin-right: 10px;
}

.main-content .side-nav .second-menu dt>a {
    font-size: 14px;
    color: #000000;
    font-family: 'PingFangSC-Medium', sans-serif;
    font-weight: 500;
}

.main-content .side-nav .second-menu dd {
    float: left;
}

.main-content .side-nav .second-menu dd>a {
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    padding: 0 10px;
    border-left: 1px solid #999999;
}

.main-content .banner {
    width: 690px;
    height: 458px;
    margin: 0 10px;
}

.main-content .side-other {
    width: 290px;
    height: 458px;
}

.main-content .side-other .message {
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    padding: 0 14px;
}

.main-content .side-other .message .title {
    height: 39px;
    border-bottom: 1px solid #D9D9D9;
    line-height: 39px;
}

.main-content .side-other .message .title>h3 {
    font-family: 'PingFangSC-Regular', sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}

.main-content .side-other .message .title>a {
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 12px;
    color: #999999;
}

.main-content .side-other .message .title>a:hover {
    color: #DD302D;
}

.main-content .side-other .message .msg-list>li {
    height: 26px;
    line-height: 26px;
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 12px;
}

.main-content .side-other .message .msg-list>li:first-child {
    margin-top: 2px;
}

.main-content .side-other .other-nav {
    width: 290px;
    height: 290px;
    overflow: hidden;
}

.main-content .side-other .other-nav .other-nav-list>li {
    float: left;
    width: 48px;
    height: 70px;
    margin: 0 11px;
    text-align: center;
}

.main-content .side-other .other-nav .other-nav-list>li:hover a>span {
    color: #DD302D;
}

.main-content .side-other .other-nav .other-nav-list>li>a>span {
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}

.main-content .side-other .other-nav .other-nav-list>li:first-child {
    margin-left: 16px;
}

.main-content .side-other .other-nav .other-nav-list:first-child {
    margin-top: 16px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2) {
    margin: 17px 0;
}

.main-content .side-other .other-nav .other-nav-list .picture {
    width: 48px;
    height: 48px;
    background-image: url(../images/精灵图-侧边功能.png);
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1)>li:nth-child(1) .picture {
    background-position: 0 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1)>li:nth-child(2) .picture {
    background-position: -48px 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1)>li:nth-child(3) .picture {
    background-position: -96px 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1)>li:nth-child(4) .picture {
    background-position: -144px 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2)>li:nth-child(1) .picture {
    background-position: 0 -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2)>li:nth-child(2) .picture {
    background-position: -48px -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2)>li:nth-child(3) .picture {
    background-position: -96px -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2)>li:nth-child(4) .picture {
    background-position: -144px -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3)>li:nth-child(1) .picture {
    background-position: 0 -96px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3)>li:nth-child(2) .picture {
    background-position: -48px -96px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3)>li:nth-child(3) .picture {
    background-position: -96px -96px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3)>li:nth-child(4) .picture {
    background-position: -144px -96px;
}

/* #endregion main-content end */

/* #region seckill start */

.seckill {
    margin-top: 10px;
}

.seckill img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.seckill img:last-child {
    margin-right: 0;
}

.seckill img:nth-child(3) {
    margin-right: 14px;
}

/* #endregion seckill end */

/* #region floor start */

.floor {
    margin-top: 48px;
}

.floor-nav {
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor-nav-name {
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 20px;
    color: #000000;
}

.floor-nav>.floor-nav-list {
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 16px;
}

.floor-nav>.floor-nav-list>li {
    float: left;
    display: inline;
}

.floor-nav>.floor-nav-list>li>a {
    color: #666666;
}

.floor-nav>.floor-nav-list>li:hover>a {
    color: #DD302D;
}

.floor-nav>.floor-nav-list>li:first-child>a {
    color: #DD302D;
}

.floor-nav>.floor-nav-list>.item-delimiter {
    float: left;
    height: 16px;
    border-left: 1px solid #666666;
    margin: 7px 10px;
}

.floor-info-item {
    float: left;
}

.floor-info-item img {
    cursor: pointer;
}

.floor-info .item1 {
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}

.floor-info .item1 .item1-list {
    margin-bottom: 30px;
}

.floor-info .item1 .item1-list>li {
    width: 90px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    text-align: center;
}

.floor-info .item1 .item1-list>li:nth-child(2n-1) {
    float: left;
}

.floor-info .item1 .item1-list>li:nth-child(2n) {
    float: right;
}

.floor-info .item1 .item1-list>li:nth-child(3),
.floor-info .item1 .item1-list>li:nth-child(4) {
    margin: 14.4px 0;
}

.floor-info .item2 {
    width: 340px;
    height: 432px;
}

.floor-info .item3,
.floor-info .item4,
.floor-info .item5 {
    width: 206px;
    height: 432px;
}

.floor-info .item3>img,
.floor-info .item4>img,
.floor-info .item5>img {
    border-bottom: 1px solid #E2E2E2;
}

.floor-info .item4 {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}

/* #endregion floor end */

/* #region footer start */

.footer {
    height: 440px;
    margin-top: 48px;
    background-color: #483E3E;
    overflow: hidden;
}

.footer-link-top {
    margin-top: 48px;
}

.footer-link-top>.links-list {
    float: left;
    width: 190px;
    height: 176px;
    line-height: 24px;
}

.footer-link-top>.links-list:nth-child(1) {
    margin-right: 11px;
}

.footer-link-top>.links-list:nth-child(2) {
    margin-right: 9px;
}

.footer-link-top>.links-list:nth-child(3) {
    margin-right: 10px;
}

.footer-link-top>.links-list:nth-child(4) {
    margin-right: 14px;
}

.footer-link-top>.links-list:nth-child(5) {
    margin-right: 6px;
}

.footer-link-top>.links-list>li>a {
    font-family: 'PingFangSC-Medium', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-link-top>.links-list>li>a:hover {
    color: #DD302D;
}

.footer-line {
    margin-top: 22px;
    border-top: 1px solid #584D4D;
}

.footer-link-bottom {
    margin-top: 47px;
    text-align: center;
}

.footer-link-bottom>.bottom-links-list {
    display: inline-block;
}

.bottom-links-list>li {
    float: left;
    font-family: 'PingFangSC-Medium', sans-serif;
    line-height: 18px;
}

.bottom-links-list>li>a {
    color: #FFFFFF;
    font-size: 12px;
}

.bottom-links-list>li>a:hover {
    color: #DD302D;
}

.bottom-links-list>.item-delimiter {
    float: left;
    height: 10px;
    margin: 4px 26px;
    border-left: 1px solid #D9D9D9;
}

.footer-link-bottom>.copyright {
    color: #FFFFFF;
    line-height: 18px;
    margin-top: 10px;
}

/* #endregion footer end */