<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.order.mapper.OrderTblMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.order.bean.OrderTbl">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="commodityCode" column="commodity_code" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,commodity_code,
        count,money
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from order_tbl
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from order_tbl
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.atguigu.order.bean.OrderTbl"
            useGeneratedKeys="true">
        insert into order_tbl
        ( id,user_id,commodity_code
        ,count,money)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=VARCHAR},#{commodityCode,jdbcType=VARCHAR}
        ,#{count,jdbcType=INTEGER},#{money,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.atguigu.order.bean.OrderTbl" useGeneratedKeys="true">
        insert into order_tbl
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="commodityCode != null">commodity_code,</if>
                <if test="count != null">count,</if>
                <if test="money != null">money,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=VARCHAR},</if>
                <if test="commodityCode != null">#{commodityCode,jdbcType=VARCHAR},</if>
                <if test="count != null">#{count,jdbcType=INTEGER},</if>
                <if test="money != null">#{money,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.order.bean.OrderTbl">
        update order_tbl
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=VARCHAR},
                </if>
                <if test="commodityCode != null">
                    commodity_code = #{commodityCode,jdbcType=VARCHAR},
                </if>
                <if test="count != null">
                    count = #{count,jdbcType=INTEGER},
                </if>
                <if test="money != null">
                    money = #{money,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.atguigu.order.bean.OrderTbl">
        update order_tbl
        set 
            user_id =  #{userId,jdbcType=VARCHAR},
            commodity_code =  #{commodityCode,jdbcType=VARCHAR},
            count =  #{count,jdbcType=INTEGER},
            money =  #{money,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
