<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    {{message}}
    <span v-bind:title="attr">
        hover some second!
    </span>
    <div v-if="seen">
        <button>
            确定
        </button>
    </div>

    <li v-for="person in persons">
        {{person.name}}&nbsp;&nbsp;&nbsp;{{person.age}}
    </li>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: "hello world",
            attr: "页面加载于" + new Date().toLocaleString(),
            seen: true,
            persons: [
                {
                    name: "wuyue",
                    age: "18"
                },
                {
                    name: "kangwy",
                    age: "23"
                },
                {
                    name: "linzc",
                    age: "21"
                }
            ]
        }
    });

    // app.$watch("message", function (newVal, oldVal) {
    //     console.info(newVal, oldVal);
    // });
    //
    // app.$data.message = "test2";

    setInterval(function () {
        app.seen = !app.seen
        console.info(app.seen)
    }, 2000)
</script>
</body>
</html>
